<div class="page-list">
    <div fxLayout="row" class="list-header-size">
        <div fxFlex>
            <h4 class="list-size"> Dragões cadastrados ({{totalElements}}) </h4>
        </div>
        <div fxFlex fxLayoutAlign="end center">
            <button mat-mini-fab class="btn-cadastrar" matTooltip="Adicionar Dragão" [matTooltipPosition]="'left'"
                (click)="newRecord()">
                <img src="../../../../assets/icons/dragon.svg" alt="Dragão">
            </button>
        </div>
    </div>

    <div class="table-container" *ngIf="totalElements > 0">

        <table #table mat-table [dataSource]="dataSource">

            <ng-container matColumnDef="nome" sticky>
                <th mat-header-cell *matHeaderCellDef> Nome </th>
                <td mat-cell *matCellDef="let item"> {{item.name}}
                </td>
            </ng-container>

            <ng-container matColumnDef="tipo">
                <th mat-header-cell *matHeaderCellDef> Tipo </th>
                <td mat-cell *matCellDef="let item"> {{item.type}} </td>
            </ng-container>

            <ng-container matColumnDef="acoes" stickyEnd>
                <th class="text-right" mat-header-cell *matHeaderCellDef> Ações </th>
                <td class="text-right acoes" mat-cell *matCellDef="let item">

                    <ng-container *ngIf="!isMobile">
                        <button mat-mini-fab class="btn-edit" matTooltip="Editar" [matTooltipPosition]="'left'"
                            (click)="edit(item)">
                            <mat-icon> edit </mat-icon>
                        </button>

                        <button mat-mini-fab class="btn-details" matTooltip="Detalhes" [matTooltipPosition]="'left'"
                            (click)="showDetails(item)">
                            <mat-icon> visibility </mat-icon>
                        </button>

                        <button mat-mini-fab class="btn-delete" matTooltip="Excluir" [matTooltipPosition]="'left'"
                            (click)="delete(item)">
                            <mat-icon> delete </mat-icon>
                        </button>
                    </ng-container>

                    <ng-container *ngIf="isMobile">
                        <mat-menu #listClienteMenu="matMenu">
                            <button mat-menu-item (click)="edit(item)"> Editar </button>
                            <button mat-menu-item (click)="showDetails(item)"> Detalhes </button>
                            <button mat-menu-item (click)="delete(item)"> Excluir </button>
                        </mat-menu>

                        <button mat-mini-fab class="more-btn" [matMenuTriggerFor]="listClienteMenu">
                            <mat-icon> more_horiz </mat-icon>
                        </button>
                    </ng-container>

                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let item; columns: displayedColumns;"></tr>
        </table>
    </div>

    <div class="table-null" *ngIf="totalElements < 1">
        <h1>
            Não há registros
        </h1>
    </div>
</div>