<div fxLayout="column" fxFill>
    <mat-sidenav-container class="sidenav-container" fxFlex>
        <!-- <mat-sidenav #drawer class="sidenav" fixedInViewport="false" [attr.role]="isMobile ? 'dialog' : 'navigation'"
            [mode]="isMobile ? 'over' : 'side'" [opened]="!isMobile" [disableClose]="!isMobile">

            <mat-nav-list class="sidenav-list">
                <mat-accordion>
                    <a mat-list-item fxLayout="row" routerLink="/dragon" routerLinkActive="active">
                        <div fxFlex>
                            Dragões
                        </div>
                    </a>
                </mat-accordion>
            </mat-nav-list>
        </mat-sidenav> -->
        <mat-sidenav-content class="sidenav-content" fxFlex>
            <mat-toolbar class="main-navbar">
                <!-- <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
                    *ngIf="isMobile">
                    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
                </button> -->

                <mat-menu #actionsMenu="matMenu" class="menu-config">
                    <button mat-menu-item routerLinkActive="active">
                        Perfil
                    </button>
                    <button mat-menu-item (click)="logout()">
                        Sair
                    </button>
                </mat-menu>

                <button mat-mini-fab class="settings options btn-edit" type="button" [matMenuTriggerFor]="actionsMenu">
                    <mat-icon> settings </mat-icon>
                </button>
            </mat-toolbar>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>