<div id="check-modal">
  <div class="modal-header">
    <div class="icon-header">
      <mat-icon> warning </mat-icon>
    </div>
    <button mat-mini-fab class="close-btn" [mat-dialog-close]="false">
      <mat-icon> close </mat-icon>
    </button>
  </div>

  <div class="modal-box">
    <div class="modal-content">
      <h3 class="modal-title">{{text}}</h3>
    </div>

    <div class="modal-footer">
      <button mat-raised-button type="submit" [mat-dialog-close]="true" color="primary">
        Confirmar
      </button>
    </div>
  </div>
</div>